:root {
    --primer-color: #23231A;
    --primer-color-var: #23231ae3;
    --segundo-color: #F6F8FF;
    --segundo-color-var: #ffffff21;
    --tercer-color: rgb(152, 143, 42);
    --tercer-color-var: #fff159;
}

html {
    max-width: auto;
}

.hr {
    background-color: var(--primer-color);
    border: 1px solid var(--tercer-color);
}

.logo {
    height: 2.2rem;
}

.container-fluid {
    text-align: center;
    font-family: Helvetica, sans-serif, monospace;
    letter-spacing: 2px;
    font-weight: 500;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #988f2a #e8e8e8;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #e8e8e8;
}

*::-webkit-scrollbar-thumb {
    background-color: #988f2a;
    border-radius: 12px;
    border: 0px none #ffffff;
}

/* FIN DE SCROLLBAR */


.btnHeader {
    text-decoration: none;
    color: var(--tercer-color-var);
    padding: 1.5rem;
}

.btnHeader:hover {
    color: var(--segundo-color);
    border-bottom: 2px solid var(--tercer-color);
}

.filaHeader {
    background-color: var(--primer-color);
    height: 5rem;
    align-items: center;
    text-align: center;
    color: white;
}

.colHeader {
    text-decoration: none;
    color: var(--tercer-color);
    text-align: center;
    background-color: white;
    padding: .5rem;
}

.contenedorBuscadorHeader {
    position: sticky;
    top: 0px;
}


.buscadorHeader {
    background-color: var(--tercer-color);
    height: 5rem;
    align-items: center;
    text-align: center;
}

.buscarForm {
    justify-content: center;
    display: flex;
}

.textBuscador {
    border: none;
    width: 80%;
    height: 2.5rem;
    border-radius: 10px 0px 0px 10px;
    padding-left: 1rem;
    transition: 300ms;
}

.textBuscador:focus {
    outline: none;
    height: 3rem;
}

.btnBuscador {
    outline: none;
    border: none;
    border-radius: 0px 10px 10px 0px;
    width: 5rem;
    background-color: var(--segundo-color);
    text-transform: uppercase;
}

.divImagen {
    text-align: center;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 147rem;
}

.carousel-item {
    background-color: var(--primer-color);
}

.imgCarousel {
    border-top: 5px solid var(--segundo-color);
    border-bottom: 5px solid var(--segundo-color);
}

.servicios, .raperosFamosos {
    background-color: black;
    color: var(--segundo-color);
    padding: 1rem 0rem;
}

.raperosFamosos {
    justify-content: center;
}

.serviciosTitulo {
    background-color: black;
    color: var(--segundo-color);
    font-size: 62px;
}

.servicios>p {
    font-size: 20px;
    padding: 0rem 4rem;

}

.raperosFamososTitulo {
    font-size: 32px;

}

.HR {
    margin: auto;
    height: 1px;
    width: 85%;
    background-color: var(--tercer-color-var);
}

.miFooter {
    color: var(--segundo-color);
    padding: 1.5rem 0rem;
    background-color: var(--primer-color);
}

.RAPPERBUY {
    padding: 1rem 0rem 0rem 0rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 4.8rem;
    width: 90%;
}


.linkFooter {
    text-decoration: none;
    color: var(--segundo-color);
}

.linkFooter:hover {
    color: var(--tercer-color);
}

.divRegistro {
    padding: 2rem 5rem;
    font-size: x-large;
    font-weight: 400;
    align-items: center;

}

.divLinkRegistro {
    text-decoration: none;
    color: #23231A;
    padding: 1rem 5rem;
    background-color: var(--tercer-color);
    border-radius: 40px;
    transition: 300ms;
    width: 100%;
}

.divLinkRegistro:hover {
    color: #988f2a;
    background-color: var(--primer-color);
}

.redesSociales {
    padding: 0rem 0rem 2rem 0rem;
}


.btnRedSocial {
    color: white;
}

.Twitter:hover {
    color: #1DA1F2;
}

.Facebook:hover {
    color: #4267B2;
}

.Instagram:hover {
    color: #E1306C;
}

.YouTube:hover {
    color: #FF0000;
}

.WhatsApp:hover {
    color: #25D366;
}

.calleSitio {
    padding: 1.5rem 0rem;
}

.Rapero {
    margin: .1rem 0rem;
    background-color: var(--primer-color);
    text-decoration: none;
    transition: 100ms;
    border: 1px solid white;
    min-width: max-content;
}

.Rapero:hover {
    background-color: var(--primer-color-var);
}

.miRapero {
    color: var(--segundo-color);
}

.miRapero>img {
    margin: 1rem 0rem;
    height: 280px;
    padding: 1rem;
    background-color: var(--tercer-color);
}

.miRapero>p {
    font-size: 32px;
}

.nombreRapero {
    text-transform: uppercase;
    font-size: xx-large;
}

.precioRapero, .precioRaperoOferta {
    color: var(--tercer-color);
    margin-bottom: .3rem;
    font-size: 28px;
}

.precioRaperoTachado {
    color: var(--segundo-color);
    margin-bottom: .3rem;
    font-size: 20px;
    text-decoration: line-through;
}

.fichaRaperoFondo {
    background-color: var(--primer-color);
}

.tituloFichaRapero {
    padding: .5rem;
    color: var(--segundo-color);
    font-size: 32px;
    text-transform: uppercase;
}

.tituloTipoFichaRapero {
    font-size: 22px;
    background-color: var(--tercer-color);
    padding: .4rem;
}


.fichaRapero {
    margin: auto;
    padding: 1rem;
}

.fichaRapero>img {
    width: 100%;
    border: 10px solid var(--segundo-color-var);
    min-width: 100px;

}

.nombreFichaRapero {
    text-align: left;
    text-transform: uppercase;
    font-size: 40px;
    color: var(--segundo-color);
    margin: 1rem 1rem;
}

.descripcionFichaRapero {
    text-align: left;
    margin: 0rem 1rem 3rem 1rem;
    color: var(--segundo-color);
}


.fraseFichaRapero {
    text-align: center;
    margin: 2rem;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: lighter;
    text-indent: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: var(--segundo-color);
}

.precioFichaRapero {
    font-weight: bold;
    text-indent: 1rem;
    text-align: center;
    margin: 0rem 1rem 1rem 1rem;
    font-size: 36px;
    color: var(--tercer-color);
}

.tipoFichaRapero {
    margin: 0rem 0rem 2rem 1rem;
    color: var(--segundo-color);
    text-transform: uppercase;
    text-align: left;
    color: var(--tercer-color);
    letter-spacing: 3px;
}

.filaFichaVideoRapero {
    height: 27rem;

}

.videoFichaRapero {
    height: auto;
    text-align: center;
    margin: 2rem 0rem;
}

.enCarrito, .noLog {
    margin: 2rem 0rem;
    color: red;
}

.btnComprar {
    text-decoration: none;
    color: var(--segundo-color);
    padding: 1rem 5rem;
    background-color: var(--tercer-color);
    border-radius: 50px;
    font-family: Helvetica, sans-serif, monospace;
    text-transform: capitalize;
    font-style: italic;
    font-size: x-large;
}

.btnComprar:hover {
    color: var(--primer-color-var);
    background-color: var(--tercer-color-var);
}

.formularios {
    padding: 5rem 0rem;
    color: var(--segundo-color);
    background-color: var(--primer-color);
}

.formularioIngreso, .formularioRegistro {
    text-align: center;
}

.formularioIngreso {
    padding-top: 1rem;
}

.textFormulario {
    width: 80%;
    padding: .8rem;
    border: 1px solid var(--segundo-color-var);
    margin: .3rem;
    background-color: var(--primer-color);
    transition: 300ms;
    color: var(--segundo-color);
}

.textFormulario:focus {
    outline: 1px solid var(--tercer-color);
}

.botonFormulario {
    border: none;
    width: 80%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--tercer-color);
    border-radius: 50px;
    text-transform: uppercase;
    color: var(--segundo-color);
    font-size: large;
}

.botonFormulario:hover {
    background-color: var(--tercer-color-var);
    color: var(--primer-color);
}

.btnAdmin {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 50;
}

.carritoCompra {
    color: var(--primer-color);
    border-radius: 50px;
    background-color: var(--segundo-color);
    padding: 1rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.carritoCompra:hover {
    background-color: var(--primer-color);
    color: var(--segundo-color);

}

.pagCarritoCompra {
    margin-top: 1rem;
}

.compraRapero {
    align-items: center;
    margin: 1rem 1rem;
    background-color: var(--tercer-color);
    height: auto;
}

.compraIMGRapero {
    text-align: right;
    margin: .8rem;
    max-height: 12rem;
    height: auto;
}

.compraInfoRapero {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
}

.contenedorbtnComprarBorrarRapero {
    text-align: center;
    padding-bottom: 1rem;
}

.btnComprarBorrarRapero {
    background-color: transparent;
    border: 1px solid var(--primer-color);
    border-radius: 50px;
    padding: .5rem 1rem;
    color: var(--primer-color);
    text-decoration: none;
}

.btnComprarBorrarRapero:hover {
    background-color: var(--primer-color);
    color: var(--segundo-color);
}

.numArtCarrito {
    position: absolute;
    text-decoration: none;
    bottom: 40px;
    left: 40px;
    padding: 0rem .4rem;
    border-radius: 50px;
    background-color: var(--tercer-color);
}