:root {
    --primer-color: #23231A;
    --segundo-color: #F6F8FF;
    --segundo-color-var: #ffffff21;
    --tercer-color: rgb(152, 143, 42);
    --tercer-color-var: #fff159;
}

html {
    min-width: min-content;
}

.container-fluid {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #988f2a #e8e8e8;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #e8e8e8;
}

*::-webkit-scrollbar-thumb {
    background-color: #988f2a;
    border-radius: 12px;
    border: 0px none #ffffff;
}

/* FIN DE SCROLLBAR */


.btnHeader {
    text-decoration: none;
    color: var(--tercer-color-var);
    padding: 1.5rem;
}

.btnHeader:hover {
    color: var(--segundo-color);
    border-bottom: 2px solid var(--tercer-color);
}

.filaHeader {
    background-color: var(--primer-color);
    height: 5rem;
    align-items: center;
    text-align: center;
    color: white;
}

.colHeader {
    text-decoration: none;
    color: var(--tercer-color);
    text-align: center;
    background-color: white;
    padding: .5rem;
}

.contenedorBuscadorHeader {
    position: sticky;
    top: 0px;
}


.buscadorHeader {
    background-color: var(--tercer-color);
    height: 5rem;
    align-items: center;
    text-align: center;
    margin-bottom: 1.2rem;
}

.buscarForm {
    justify-content: center;
    display: flex;
}

.textBuscador {
    border: none;
    width: 80%;
    height: 2.5rem;
    border-radius: 10px 0px 0px 10px;
    padding-left: 1rem;
}

.textBuscador:focus {
    outline: none;
}

.btnBuscador {
    outline: none;
    border: none;
    border-radius: 0px 10px 10px 0px;
    width: 5rem;
    background-color: var(--segundo-color);
}

.divImagen {
    text-align: center;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 147rem;
}

.carousel-item {
    background-color: var(--primer-color);
}

.imgCarousel {
    opacity: 80%;
    height: 45rem;
}

.servicios, .raperosFamosos {
    background-color: black;
    color: var(--segundo-color);
    padding: 1rem 0rem;
}

.raperosFamosos {
    justify-content: center;
}

.serviciosTitulo {
    background-color: black;
    color: var(--segundo-color);
    font-size: 62px;
}

.servicios>p {
    font-size: 20px;
    padding: 0rem 4rem;

}

.raperosFamososTitulo {
    font-size: 32px;

}

.HR {
    margin: auto;
    height: 1px;
    width: 85%;
    background-color: var(--tercer-color-var);
}

.miFooter {
    color: var(--segundo-color);
    padding: 1.5rem 0rem;
    background-color: var(--primer-color);
}

.RAPPERBUY {
    padding: 1rem 0rem 0rem 0rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 100px;
}


.linkFooter {
    text-decoration: none;
    color: var(--segundo-color);
}

.linkFooter:hover {
    color: var(--tercer-color);
}

.divRegistro {
    padding: 2rem 5rem;
    font-size: x-large;
    font-weight: 400;
    align-items: center;

}

.divLinkRegistro {
    text-decoration: none;
    color: #23231A;
    padding: 1rem 5rem;
    background-color: var(--tercer-color);
    border-radius: 40px;
    transition: 300ms;
}

.divLinkRegistro:hover {
    color: #988f2a;
    background-color: var(--primer-color);
}

.redesSociales {
    padding: 0rem 0rem 2rem 0rem;
}


.btnRedSocial {
    color: white;
}

.Twitter:hover {
    color: #1DA1F2;
}

.Facebook:hover {
    color: #4267B2;
}

.Instagram:hover {
    color: #E1306C;
}

.YouTube:hover {
    color: #FF0000;
}

.WhatsApp:hover {
    color: #25D366;
}

.calleSitio {
    padding: 1.5rem 0rem;
}

.Rapero {
    margin: 1rem;
    background-color: var(--primer-color);
    text-decoration: none;
    transition: 100ms;
}

.Rapero:hover {
    transform: scale(1.05);
}

.miRapero {
    color: var(--segundo-color);
    margin: 1rem;
}

.miRapero>img {
    margin: 1rem 0rem;
    height: 280px;
    padding: 1rem;
    background-color: var(--tercer-color);
}

.miRapero>p {
    font-size: 32px;
}